    body{
        margin: 0;
        width:100%;
        height: 100vh;
    }
    
    footer{
        color: rgb(13, 199, 206);
        text-align: center;
        position: fixed;
        display: contents;
    }
    
    .flyer{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    header{
        background-image: linear-gradient(to right, rgb(153 114 59) 60%, white);
        display: flex;
        align-items: flex-end;
    } 
    
    h1 a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    li{
        border: 1px solid white;
        margin: 0%;
        padding: 10px 13px;
        background-color: rgb(245 235 220);
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:larger;
        list-style-type: none;
    }
    
    nav li:hover{
        border-left: 3px solid rgb(13, 199, 206);
        border-bottom: 5px solid rgb(13, 199, 206);
        color: white;
        list-style-type: none;
        }
    

    #imageTittle {
        background-image: url(./img/showroom.png);
        background-repeat: repeat-x;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    
    .tittle{
        font-size: x-large;
        justify-content: center;
        align-items: center;
        padding: 2vh;
        text-align: center;
        background-color: rgb(13, 199, 206, 90%);
        color: rgb(172, 97, 0);
        padding: 2vh;

        }
    
    .galeria{
        margin-top: 1vh;
        text-align: center;
    }
    
    .imagenGaleria{
        width: 100%;
        border-style: dotted;
        border-color: rgb(172, 97, 0);
        display: inline-block;
        margin: 10px;
        padding: 30px;
        transition: 1s;
        opacity: 0.4;
    }

    .imagenGaleria:hover{
        opacity: 2;
        width: 105%;
    }

    .galeriaIndex{
        width: 50%;
        border-style: dotted;
        border-color: rgb(172, 97, 0);
        display: inline-block;
        margin: 10px;
        padding: 30px;
        justify-content: center;
    }

    
    /* imagenes de contacto (redes sociales)*/
    .redSocial{       
        background-color: rgb(13, 199, 206, 90%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(172, 97, 0);
        font-size: inherit;
    }
    
    .imgRedes{    
        margin:20px; 
    }

    .bloque{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .mapa-contacto{
        padding: 20px;
        margin: 5px;
        border-style: outset;
        border-color: rgb(13, 199, 206);

    }